body
{
  background-color: #697676;
}
h1
{
  font-family: 'Rubik Moonrocks', cursive;
}
h2
{
  font-family: 'Rubik Bubbles', cursive;
}
h3
{
  font-family: 'Beau Rivage', cursive;
}
h4
{
  font-family: 'Permanent Marker', cursive;
}
table
{
  font-family: 'Lobster Two', cursive;
}
