body
{
  background-color: #92C8C8;
  text-align: center;
}
h1
{
font-family: 'Rubik Moonrocks', cursive;
}
h2
{
  font-family: 'Rubik Bubbles', cursive;
}
{
  font-family: 'Beau Rivage', cursive;
}
table
{
font-family: 'Rubik Bubbles', cursive;
text-align: center;
}
li
{
  font-family: 'Beau Rivage', cursive;
}
